@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg: #1F2937;
    --secondary: #E5E7Eb;
    --third: #3882F6;
    --black-text: #1f2937;
}


header {
    background-color: var(--main-bg);
}

nav {
    display: flex;
    height: 90px;
    color: var(--secondary);
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap;
}

nav .nav-list {
    display: flex;
    gap: 15px;
}

header .main-page {
    height: 550px;
    color: var(--secondary);
}

.main-page .wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 55px auto;
    /* border: 1px solid salmon; */
}

.main-page .cta {
    /* border: 2px solid orangered; */
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 12px;
    justify-content: center;
}

.cta h1 {
    font-size: 48px;
}

.cta p {
    font-size: 18px;
}

.cta .button-cta {
    width: 155px;
    font-size: 20px;
    background-color: var(--third);
    border-style: none;
    color: var(--secondary);
    padding: 8px;
    border-radius: 5px;
}


.main-page .image {
    display: flex;
    color: var(--secondary);
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 300px;
    background-color: rgb(188, 188, 188);
}

.content-title h2 {
    text-align: center;
    margin-top: 75px;
}

.benefit-list {
    display: flex;
    margin-top: 50px;

    gap: 52px;
    flex-wrap: wrap;
    justify-content: center;
}

.benefit-list .card {
    text-align: center;
}

.card p {
    margin-top: 5px;
}

.benefit-list .benefit {
    width: 220px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid var(--third);
}

.quote {
    margin-top: 25px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: var(--main-bg);
    font-style: italic;
    background-color: var(--secondary);
}

.quote .wrapper {
    width: 50%;
}

.quote .wrapper .author {
    margin-top: 15px;
    text-align: end;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.cta2 {
    height: 300px;

}

.cta2 .button-cta2 {
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    height: 150px;

    color: var(--secondary);
    background-color: var(--third);
}

.button-cta2 h6 {
    font-size: 20px;
}

.cta-button .button-cta {
    width: 125px;
    font-size: 12px;
    background-color: var(--third);
    border-style: none;
    color: var(--secondary);
    padding: 8px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background-color: var(--main-bg);
}